<configuration>
  <system.web>
    <httpRuntime maxRequestLength='1024' />
  </system.web>
  <system.data>
    <DbProviderFactories>
      <remove invariant='System.Data.SQLite'/>
      <add 
        name='SQLite Data Provider' 
        invariant='System.Data.SQLite' 
        description='.Net Framework Data Provider for SQLite' 
        type='System.Data.SQLite.SQLiteFactory, System.Data.SQLite'
      />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add 
      name='iTextEx'
      connectionString='data source=|DataDirectory|iTextInAction2Ed.db3'
      providerName='System.Data.SQLite'
    />
  </connectionStrings>
</configuration>